{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">
            <br>
            <h1>Congrats!</h1>
            <br>
            <h3>
                <span style="color: black;">New password for your</span>
                <span style="color: darkgreen;">MovieShelf</span>
                <span style="color: black;">account has been successfully set!</span>
                <p><span style="color: black;">You can log in now on the <a href="{% url 'login' %}"><span
                        style="color: darkgreen;">Log In page</span></a></span>
            </h3>
        </div>
    {% else %}
        <p>Are you lost my friend?</p>
    {% endif %}

{% endblock content %}