{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% load crispy_forms_filters %}

{% block content %}
    {% if user.is_authenticated %}
        <br>
        <h2>Password change</h2>
        <br>
        <p>Please enter your old password, for security's sake, and then enter
            your new password twice, so we can verify you typed it in correctly.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button style="width:250px;" type="submit" class="btn btn-primary btn-block mb-4">Change my password
                </button>
        </form>

    {% else %}
       <p>You shouldn't be here (and you know it)!</p>
    {% endif %}
<style>
        .btn-primary {
            background-color: seagreen;
            border-color: seagreen;
        }

        .btn-primary:hover {
            background-color: darkgreen;
            border-color: darkgreen;
        }

        .form-control:focus {
            border-color: darkgreen !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 100, 0, 0.25) !important;

        }
</style>
{% endblock content %}