{% extends 'base.html' %}

{% block title %} Password Change Successful {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="text-center">
            <br>
            <h1>Congrats!</h1>
            <br>
            <h3>
                <span style="color: black;">Password for your</span>
                <span style="color: darkgreen;">MovieShelf</span>
                <span style="color: black;">account was changed successfully! </span>
            </h3>
        </div>
    {% else %}
        <p>Are you lost my friend?</p>
    {% endif %}


{% endblock content %}
