<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Movie Shelf{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-seagreen">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{% url 'home' %}">MovieShelf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        {% if user.profiles.user_id %}
                            <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Shelf </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'watched_by_user' user_id=user.pk %}">My Shelf</a></li>
                                <li><a class="dropdown-item" href="{% url 'to_watch_by_user' user_id=user.pk %}">Wait List</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.profiles.pk %}
                                <li><a class="dropdown-item" href="{% url 'user_profile' pk=user.pk %}">My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'update_user_profile' pk=user.pk %}">Edit My Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete_user_profile' pk=user.pk %}">Delete My Profile</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'create_user_profile' %}">Create Profile First</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>

                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </li>
                    {% if user.profiles.pk %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Couch
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'users_profiles_list' %}">Club members</a></li>
                                <li><a class="dropdown-item" href="{% url 'random_position' %}">DVD Disc Reader</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                </div>
                </div>
                </nav>

            {% else %}
                {% block my_header %} <form class="form-inline ml-auto">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log In</a>
                    <a href="{% url 'sign_up' %}" class="btn btn-primary ml-2">Sign up</a>
                {% endblock my_header %} </form>
            {% endif %}
    {% endblock %}
<main>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>
</html>
<style>
    .bg-seagreen {
    background-color: black;
}
</style>