{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Edit user profile {% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <br>
    <h2>Edit your profile!</h2>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.avatar|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.socials|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.bio|as_crispy_field }}
        </div>
        <button style="width:165px;" type="submit" class="btn btn-primary btn-block mb-4">Done
                </button>
        </form>
    </div>
{% else %}
You shouldn't be here (and you know it)!

{% endif %}
<style>
        .btn-primary {
            background-color: seagreen;
            border-color: seagreen;
        }

        .btn-primary:hover {
            background-color: darkgreen;
            border-color: darkgreen;
        }

        .form-control:focus {
            border-color: darkgreen !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 100, 0, 0.25) !important;

        }
        .form-group #id_avatar {
            width: 520px;
            height: 38px;
        }

        .form-group #id_bio {
            width: 520px;
            height: 200px;
        }

        .form-group #id_socials {
            width: 520px;
            height: 38px;
        }
    </style>
{% endblock %}