{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Movie Details{% endblock title %}

{% block content %}
    <div class="col-md-6 text-left">
        {% if our_db is True %}
            <br><p><b><img src="{{ result.Poster.url }}" alt=""></b></p>
        {% else %}
            <p><b><img src="{{ result.Poster }}" alt=""></b></p>
        {% endif %}
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}

                {{ form.watched_form|crispy }}
                <button style="width:100px;" type="submit" class="btn btn-primary btn-block mb-4" name="watched">Watched
                </button>
            </form>
            <br>
            <form method="POST">
                {% csrf_token %}

                {{ form.to_watch_form|crispy }}
                <button style="width:120px;" type="submit" class="btn btn-primary btn-block mb-4" name="to_watch">To watch
                </button>
            </form>
        </div>
        {% if our_db is True %}
            <p><span style="color: darkgreen;"><b>Genre: </b></span><b>{% for genre in result.Genre.all %}</b>
                <a style="color: black; text-decoration: none" href="{{ genre.get_absolute_url }}"><b>{{ genre }} </b></a> {% endfor %}</p>
            <p><span style="color: darkgreen; text-decoration: none"><b>Actors: </b></span><b>{% for actor in result.Actors.all %}</b>
                <a style="color: black; text-decoration: none" href="{{ actor.get_absolute_url }}"> <b>{{ actor }} </b></a>{% endfor %}</p>
            <p><span style="color: darkgreen; text-decoration: none"><b>Director: </b></span><b>{% for director in result.Director.all %} </b>
                <a style="color: black; text-decoration: none" href="{{ director.get_absolute_url }}"> <b>{{ director }}</b></a> {% endfor %}</p>
            <p><span style="color: darkgreen; text-decoration: none"><b>Writer: </b></span><b>{% for writer in result.Writer.all %}</b>
                <a style="color: black; text-decoration: none" href="{{ writer.get_absolute_url }}"><b>{{ writer }}</b></a> {% endfor %}</p>
            <p><span style="color: darkgreen; text-decoration: none"><b>Rating: </b></span><b>{% for rating in result.Rating.all %}</b>
                {{ rating }} {{ rating.value }}{% endfor %}
            </p>
            <p><span style="color: darkgreen;"><b>MovieShelf Users Rating: </b></span>{{ avg_rating }}</p>
        {% else %}
            <p>Genre: <b> {{ result.Genre }} </b></p>
            <p>Actors: <b>{{ result.Actors }}</b></p>
            <p>Director: <b>{{ result.Director }}</b></p>
            <p>Writer: <b>{{ result.Writer }}</b></p>
            <p>Rating: <b>{{ result.Ratings.0.Source }} {{ result.Ratings.0.Value }}</b>
            <p>Rating: <b>{{ result.Ratings.1.Source }} {{ result.Ratings.1.Value }}</b>
            <p>Rating: <b>{{ result.Ratings.2.Source }} {{ result.Ratings.2.Value }}</b>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ website_ratings_form|crispy }}
            <button style="display: inline-block; width:80px;" type="submit" class="btn btn-primary btn-block mb-4" name="website_ratings">
                Rate
            </button>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
    <div class="col-md-6 text-left">
        <br>
        <p><span style="color: darkgreen"><b>Title: </b></span><b>{{ result.Title }}</b></p>
        <p><span style="color: darkgreen"><b>Plot: </b></span>{{ result.Plot }}</p>
        <p><span style="color: darkgreen"><b>Type: </b></span>{{ result.Type }}</p>
        <p><span style="color: darkgreen"><b>Released: </b></span>{{ result.Released }}</p>
        <p><span style="color: darkgreen"><b>Runtime: </b></span>{{ result.Runtime }}</p>
        <p><span style="color: darkgreen"><b>Awards: </b></span>{{ result.Awards }}</p>
        <p><span style="color: darkgreen"><b>Country: </b></span>{{ result.Country }}</p>
        <p><span style="color: darkgreen"><b>Language: </b></span>{{ result.Language }}</p>
        <p><span style="color: darkgreen"><b>Rated: </b></span>{{ result.Rated }}</p>
        <p><span style="color: darkgreen"><b>BoxOffice: </b></span>{{ result.BoxOffice }}</p>
        <p><span style="color: darkgreen"><b>Production: </b></span>{{ result.Production }}</p>
        <p><span style="color: darkgreen"><b>DVD: </b></span>{{ result.DVD }}</p>
        <p><span style="color: darkgreen"><b>Website: </b></span>{{ result.Website }}</p>
        <p><span style="color: darkgreen"><b>imdRating: </b></span>{{ result.imdbRating }}</p>
        <p><span style="color: darkgreen"><b>imdbVotes: </b></span>{{ result.imdbVotes }}</p>
        <p><span style="color: darkgreen"><b>Metascore: </b></span>{{ result.Metascore }}</p>
    </div>
    <style>

        .form-container {
            display: flex;
            text-align: left;
            flex-direction: row;
            justify-content: flex-start;
        }

        .form-container form {
            margin-right: 10px;
        }

        .btn-primary {
            background-color: seagreen;
            border-color: seagreen;
        }

        .btn-primary:hover {
            background-color: darkgreen;
            border-color: darkgreen;
        }

        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        .left-half {
            grid-column: 1 / 2;
        }

        .right-half {
            grid-column: 1 / 2;
        }

        .form-control:focus {
            border-color: darkgreen !important;
            box-shadow: 0 0 0 0.2rem rgba(0, 100, 0, 0.25) !important;

        }

        .form-control {
            width: 200px;
        !important;
        }

    </style>
{% endblock content %}

{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#    <p><b>Title: {{ result.Title }}</b></p>#}
{#    <p>Type: <b>{{ result.Type }}</b></p>#}
{#    <p>Plot: <b>{{ result.Plot }}</b></p>#}
{#    <p>Year: <b>{{ result.Year }}</b></p>#}
{#    <p>Rated: <b>{{ result.Rated }}</b></p>#}
{#    <p>Released: <b>{{ result.Released }}</b></p>#}
{#    <p>Language: <b>{{ result.Language }}</b></p>#}
{#    <p>Country: <b>{{ result.Country }}</b></p>#}
{#    <p>Awards: <b>{{ result.Awards }}</b></p>#}
{#    <p>imdRating: <b>{{ result.imdbRating }}</b></p>#}
{#    <p>imdbVotes: <b>{{ result.imdbVotes }}</b></p>#}
{#    <p>BoxOffice: <b>{{ result.BoxOffice }}</b></p>#}
{#    <p>Production: <b>{{ result.Production }}</b></p>#}
{#    <p>Website: <b>{{ result.Website }}</b></p>#}
{#    <p>Runtime: <b>{{ result.Runtime }}</b></p>#}
{#    <p>Metascore: <b>{{ result.Metascore }}</b></p>#}
{#    <p>DVD: <b>{{ result.DVD }}</b></p>#}
{#    <form method="POST">#}
{#            {% csrf_token %}#}
{##}
{#            {{ watched_form.as_p }}#}
{#            <button type="submit" name="watched">Watched</button>#}
{#    </form>#}
{##}
{#    <form method="POST">#}
{#            {% csrf_token %}#}
{##}
{#            {{ to_watch_form.as_p }}#}
{#            <button type="submit" name="to_watch">To Watch</button>#}
{#    </form>#}
{##}
{#    <form method="POST">#}
{#            {% csrf_token %}#}
{##}
{#            {{ website_ratings_form.as_p }}#}
{#            <button type="submit" name="website_ratings">Rate</button>#}
{##}
{#            {% if error_message %}#}
{#                <p class="error">{{ error_message }}</p>#}
{#            {% endif %}#}
{#    </form>#}
{#    {% if our_db is True %}#}
{#        <p>Poster: <b><img src="{{ result.Poster.url }}" alt=""></b></p>#}
{#        <p>Genre: <b>{% for genre in result.Genre.all %}</b>#}
{#            <a href="{{ genre.get_absolute_url }}">{{ genre }} </a> {% endfor %}</p>#}
{#        <p>Actors: <b>{% for actor in result.Actors.all %}</b>#}
{#            <a href="{{ actor.get_absolute_url }}"> {{ actor }} </a>{% endfor %}</p>#}
{#        <p>Director: <b>{% for director in result.Director.all %} </b>#}
{#            <a href="{{ director.get_absolute_url }}"> {{ director }}</a> {% endfor %}</p>#}
{#        <p>Writer: <b>{% for writer in result.Writer.all %}</b>#}
{#            <a href="{{ writer.get_absolute_url }}">{{ writer }}</a> {% endfor %}</p>#}
{#        <p>Rating: <b>{% for rating in result.Rating.all %}</b> {{ rating }} {{ rating.value }}{% endfor %} </p>#}
{#        <p>MovieShelf Users Rating: <b>{{ avg_rating }}</b></p>#}
{#   {% else %}#}
{#        <p>Poster: <b><img src="{{ result.Poster }}" alt=""></b></p>#}
{#        <p>Genre: <b> {{ result.Genre }} </b></p>#}
{#        <p>Actors: <b>{{ result.Actors }}</b></p>#}
{#        <p>Director: <b>{{ result.Director }}</b></p>#}
{#        <p>Writer: <b>{{ result.Writer }}</b></p>#}
{#        <p>Rating: <b>{{ result.Ratings.0.Source }} {{ result.Ratings.0.Value }}</b>#}
{#        <p>Rating: <b>{{ result.Ratings.1.Source }} {{ result.Ratings.1.Value }}</b>#}
{#        <p>Rating: <b>{{ result.Ratings.2.Source }} {{ result.Ratings.2.Value }}</b>#}
{#    {% endif %}#}
{#{% endblock %}#}
